body{
    text-align: center;
    padding: 0%;
    margin: 0%;
}
h1{
    font-family: 'Crete Round', serif;
    color: white;
    font-size: 2.5rem;
}
h2{
    font-family: 'Jost', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h4{
    color: #343434;

}
p{
    opacity: 0.8;
}

/* overall applicable */
.padding{
    padding: 3% 5%;
    text-align: center;
}
.pw{
    width: 74%;
    margin-left: 13%;
}



#landing{
    background-color: #343434;
}
.landing-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.landing-text{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

.name{
    color: #ea5455;
    font-size: 3rem;
}

#services{
    background-color: #fde9c9;
}

#motive{
    text-align: left;
}
.quote{
    font-size: 3rem;
    font-weight: bold;
    color: #ea5455;
    padding:5% 5%;
}

.hire-me{
    background-color: #ea5455;
    color:white ;
    display: inline-block;
    margin-left: 5%;
    border: 2px solid #ea5455;
}
.hire-me:hover{
    background-color: white; 
}

#form{
    text-align: left;
    background-color: #fde9c9;
}
.ml-5{
    margin-left: 5%;
}

.get-input{
    margin-bottom: 20px;
    background-color: #fde9c9;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid floralwhite;
}
.form-btn{
    background-color: #ea5455;
    color: white;
    border: 2px solid #ea5455;
}
.form-btn:hover{
    background-color: #fde9c9;
}

/*footer styling*/
.footer-icon-wrapper{

}

#footer h2{
    color: #ea5455;
}

/*only for the test purpose*/
.border{
    border: 1px solid black;
}
